*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #f5f5f5;
    padding: 30px;
    display: flex;
    max-width: 900px;
    justify-content: center;
    gap: 20px;
}

.column {
    flex: 2;
    background-color:;
    display: flex;
    flex-direction: column;
}

.column img{
    object-fit: cover;
    height: 215.8px;
    margin-bottom: 10px;
}

.textos h1{
    font-size: 18px;
    padding-bottom: 7px;
}

.visualizacoes{
    margin-bottom: 7px;
    font-size: 14px;
}


.textos{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
}


.inscritos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inscritos .canal, .inscrever-se{
    display: flex;
    justify-content: center;
}

.button button{
    background-color: #CC0000;
    padding: 8px 14px;
    margin: 0px 4px;
    border: none;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover{
    background-color: #e44529ea;
}

.canal{
    flex-direction: column;
}

.canal a{
    text-decoration: none;
    color: #030303;
    font-weight: 700;
}


.canal p{
    color: #60647B;
    font-size: 14px;
    font-weight: 300;
}


.propaganda{
    margin-bottom: 15px;
}

.propaganda img{
    width: 100%;
    height: 56px;
}


.secao-lateral img{
    width: 101px;
    height: 76px;
    padding-right: 5px;
    margin-bottom: 15px;
}

.textos-laterais h1{
    font-size: 14px;
    width: 100%;
    margin-bottom: 5px;
}

.textos-laterais p{
    font-size: 11px;
    margin-bottom: 5px;
    color: #60647B;
}

.secao-lateral{
    display: flex;
}


@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .propaganda img{
        max-width: 270px;
    }
    .button{
        margin-right: 3px;
    }

    .button button{
        padding: 8px 10px;
        font-size: 11px;
    }
    .canal a{
        font-size: 14px;
    }

    .container{
        width: 100%;
    }
}





